<script setup lang="ts"></script>

<template>
  <header class="the-header absolute top-0 left-0 right-0 flex items-center p-3 border-b-2 bg-sky-100">
    the header
  </header>
</template>

<style lang="scss">
  .the-header {
    max-height: $header-height;
    height: $header-height;
    min-height: $header-height;
  }
</style>
